extends layout

block content
  ul(class="nav nav-tabs")
    li(class="active")
      a(href="/index")="You are on the /index page"
    li
      a(href="/protected/index")="CAS protected page"
    li
      a(href="/logout")="Logout"
  h2 Welcome 
  h3
    p 
      pre User: #{user}
    p
      pre Attributes: #{attributes}
